# Node modules
/node_modules/

# TypeScript
/dist/
/build/
/*.tsbuildinfo

# Vite
/vite.config.ts
/.vite/

# IDEs
/.idea/
/.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Prettier cache
/.prettier

# .env files (если используются переменные окружения)
.env
.env.local
.env.*.local
