.registration {
    min-width: 100%;
}

.registration_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.registration_container h2 {
    text-align: center;
}

.registration_form {
    width: 100%;
    background-color: white;
    max-width: 400px;
    padding: 40px;
    border-radius: 5px;
    margin-top: 40px;
}

.registration_form .ant-form-item {
    width: 100%;
    margin: 0;
    padding: 0;
}

.registration_form button {
    margin-top: 20px;
    text-transform: uppercase;
    width: 100%;
}

